# Python virtual environment
.venv/
__pycache__/

# Node.js dependencies
node_modules/
retrorewind-frontend/node_modules/

# Environment variables / secrets
.env
backend/.env
backend/retrorewindKey.json

# Build outputs
dist/
build/

# OS files
Thumbs.db
.DS_Store

# Log files
*.log
*.tmp

# VSCode settings
.vscode/

# Ignore coverage/test results
.pytest_cache/
coverage/

# Ignore local test file with credentials
test.py




